@font-face {
  font-family: 'JustinRoad';
  src: url('./assets/fonts/JustinRoad/JustinRoad.eot');
  src: url('./assets/fonts/JustinRoad/JustinRoad.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/JustinRoad/JustinRoad.woff2') format('woff2'),
       url('./assets/fonts/JustinRoad/JustinRoadRegular.woff') format('woff'),
       url('./assets/fonts/JustinRoad/JustinRoadRegular.ttf') format('truetype'),
       url('./assets/fonts/JustinRoad/JustinRoadRegular.svg#JustinRoad') format('svg');
  font-weight: normal;
  font-style: normal;
}